<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CourseModify</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<div class="container-fluid" style="background-color: gainsboro">
  <div th:replace="~{Index.html::index}"></div>
  <div class="row">
    <div th:replace="~{Index.html::left}"></div>
    <div class="col-md-9" style="height: 650px">
      <form th:object="${courses}" action="/courseModifyCheck">
        <div class="form-group">
          <label for="cid" class="col-sm-2 control-label">cid</label>
          <div class="col-md-6">
            <input type="text" class="form-control" th:name="cid" th:value="*{cid}" id="cid" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">courseName</label>
          <div class="col-md-6">
            <input type="text" class="form-control" th:name="name" th:value="*{name}" id="name">
          </div>
        </div>
        <div class="form-group">
          <label for="tid" class="col-sm-2 control-label">tid</label>
          <div class="col-md-6">
            <input type="text" class="form-control" th:name="tid" th:value="*{tid}" id="tid" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="tname" class="col-sm-2 control-label">discription</label>
          <div class="col-md-6">
            <input type="text" class="form-control" th:name="tname" th:value="*{tname}" id="tname">
          </div>
        </div>

        <div class="col-md-1 offset-5">
          <button class="btn btn-info bg-dark" onclick="return confirm('modify confirm?')">Modify</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>